@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 248 57% 11%;
    --foreground: 210 40% 98%;

    --card: 248 50% 15%;
    --card-foreground: 210 40% 98%;

    --popover: 248 57% 11%;
    --popover-foreground: 210 40% 98%;

    --primary: 258 92% 57%;
    --primary-foreground: 210 40% 98%;

    --secondary: 258 50% 30%;
    --secondary-foreground: 210 40% 98%;

    --muted: 258 50% 20%;
    --muted-foreground: 210 40% 60%;

    --accent: 182 100% 50%;
    --accent-foreground: 182 100% 10%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 258 50% 25%;
    --input: 258 50% 20%;
    --ring: 182 100% 50%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background: linear-gradient(to right, #0f0c29, #302b63);
    background-attachment: fixed;
  }
}

@layer components {
  .glass-card {
    @apply bg-white/10 backdrop-blur-lg border border-white/20 rounded-xl shadow-lg;
  }
  .glass-card-form {
     @apply bg-black/20 backdrop-blur-sm border border-white/10 rounded-xl shadow-lg;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  #printable, #printable * {
    visibility: visible;
  }
  #printable {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    color: black;
  }
}
